<div>
    <div class="container-fluid">
        <div class="row">
            @for (product of products;track product.id){
            <div class="col-sm-2 col-md-3 col-lg-3 col-xl-3 border my-2" (click)="getData(product.id)">
                <div class="productImage">
                    <img src={{product.thumbnail}} alt="logo">
                </div>
                <div>
                    <div class="row my-3">
                        <div class="col">
                            <p><b>Title</b>: {{product.title}}</p>
                        </div>
                        <div class="col">
                            <p><b>Price</b>: {{product.price | currency: 'INR'}}</p>
                        </div>
                    </div>
    
                    <p><b>Description</b>: {{product.description}}</p>
                </div>
            </div>
            }
        </div>
    </div>
</div>
